<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="Content/MyStyles.css" rel="stylesheet" type="text/css" />
    <title>New Contact</title>
  </head>
  <body>
    <h1>You added a new contact:</h1>
    <h4>Name: @Model.GetfirstN() @Model.GetlastN()</h4>
    <h4>Phone: @Model.GetPhone()</h4>
    <h4>Address: @Model.Getaddress()</h4>
    <h3><a href="/add">Add another contact</h3>
    <h3><a href="/">See all contacts</h3>
  </body>
</html>
